:root {
    --main-bg-color: #fff;
    --second-bg-color: #9ABF1A;
    --third-bg-color: #243238;
    --four-bg-color: #243238;

  }

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html, body, ul {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blocPrincipal {
    width: 100%;
    max-width: 1920px;
}
.ecran {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

header{
    background-color: var(--main-bg-color);
    width: 100%;
    height: 17%;
}

#contain-menu{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width:100%;
    height: 70px;
    background-color: var(--third-bg-color);
}
#menu-avant{
    width: 40px;
    height: 100%;
}
#apr-menu{
    /*background-color: var(--second-bg-color);*/
    width: 30%;
    color:var(--main-bg-color);
    font-size: 1.2em;
    text-align: center;
}

/* Menu wrap sur le cote */
#main-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 60px;
}

#nav-wrapper{
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
#menu {
    flex-basis: 100%;
    width:300px;
    display: none;
    position:absolute;
    top:240px;
    left:100px;
    background-color: var(--main-bg-color);
}
.menu-checkbox:checked ~ #menu {
    display: block;
}
.menu-checkbox {
    /*opacity: 0;*/
    display: none;
	position: relative;
	/*top: -1000px;*/
}
#menu li {
    border-bottom: 1px solid var(--third-bg-color);

}
#menu li a {
    padding: 0.5em 1em;
    font-size: 1.2em;
    line-height: 2em;
    color:var(--third-bg-color);
}
#menu li a:hover {
    color:var(--second-bg-color);
}

/* Menu du centre */
#second-navigation{
    width:calc(70% - 400px);
}
#second-menu ul{
    display: flex;
    justify-content: space-around;
}
#second-menu li a {
    padding: 0.5em 1em;
    font-size: 1.2em;
    line-height: 2em;
    color:var(--main-bg-color);
}
#second-menu li a:hover {
    color:var(--second-bg-color);
}

/* footer */
footer{
    background-color: var(--thrid-bg-color);
    width: 100%;
    height: 40%;
}

/* Les ecrans */

/* ecran 1 */
.ecran1{
    /*background-color: #FBE0C3;*/
    background-color: var(--main-bg-color);
    background-size: 100%;
    background-image: url("../images/image_marbre.jpg");
    background-position:center center;
    background-repeat: repeat;
}

/* ecran 2 */
.ecran2{
    background-color: var(--main-bg-color);
}

/* ecran 3 */
.ecran3{
    background-color: var(--thrid-bg-color);
}

/* ecran 4 */
.ecran4{
    background-color: var(--main-bg-color);
}

/* ecran 5 */
.ecran5{
    background-color: var(--thrid-bg-color);
}

/* ecran 6 */
.ecran6{
    background-color: var(--main-bg-color);
}

/* Menu Hamburger */

button.btnCat{
    color: white;
    font-size: 35px;
    font-weight: bold;
    background-color: var(--second-bg-color);
    width: 300px;
    height: 50px;
    border:none;
    border-radius: 5px;
}


.checkbtn{
    font-size: 30px;
    color: white;
    float: left;
    line-height: 80px;
    margin-left: -100px;
    cursor: pointer;
    display: none;
}


@media (min-width:860px){
    #menu {
        top:250px;
        left:100px;
    }
    .menu-checkbox ~ #menu {
        display: block;
        left:100px;
    }
    .btnCat{
        display: block;
    }
}



@media (max-width:858px){
    #menu {
        top:250px;
        left:-1000px;
    }
    .menu-checkbox:checked ~ #menu {
        display: block;
        left:10px;
    }
    .menu-checkbox {
        /*opacity: 0;*/
        display: block;
        position: relative;
        /*top: -1000px;*/
    }
    .btnCat,#menu-avant{
        display: none;
    }
    #second-navigation{
        width:auto;
    }
    #apr-menu{
        display: none;
    }
    #second-navigation{
        width:calc(100% - 60px);
    }
}

@media (max-width:680px){
    #menu {
        top:200px;
        left:-1000px;
    }
    .menu-checkbox:checked ~ #menu {
        display: block;
        left:10px;
    }
    .menu-checkbox {
        /*opacity: 0;*/
        display: none;
        position: relative;
        /*top: -1000px;*/
    }
    .menu-checkbox + label{
	    position: relative;
        background-color: var(--third-bg-color);
        width: 60px;
        height: 40px;
        cursor: pointer;
        display: inline-block;
    }
    .menu-checkbox + label span{
        position: absolute;
        top: 20px;
        left: 6px;
        right: 6px;
        height: 4px;
        background: var(--main-bg-color);
    }
    .menu-checkbox + label span:after,
    .menu-checkbox + label span:before{
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--main-bg-color);
    content: ""
    }
    .menu-checkbox + label span:before{
        top: -14px;
    }
    .menu-checkbox + label span:after{
        bottom: -14px;
    }
    .menu-checkbox + label span:after,
    .menu-checkbox + label span:before{
        transition: .3s
    }
        
    .menu-checkbox:checked +label{
        background-color: var(--third-bg-color);
    }
        
    .menu-checkbox:checked + label span{
    transition: 1s;
    transform: rotate(45deg)
    }
        
    .menu-checkbox:checked + label span:before{
        top:0;
    }
        
    .menu-checkbox:checked +label span:after{
    bottom:0;
    transform:rotate(-90deg);
    }


    .btnCat,#menu-avant{
        display: none;
    }
    #second-navigation{
        width:calc(100% - 60px);
        /*test*/
    }
    #second-menu li a {
        padding: 0;
        font-size: 0.8em;
        line-height: 1em;
        color:var(--main-bg-color);
    }
}


