html, body, ul {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blocPrincipal {
    width: 100%;
    max-width: 1920px;
}
.ecran {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

header{
    background-color: #fff;
    width: 100%;
    height: 17%;
}

#contain-menu{
    display: flex;
 /*   justify-content: center;
    align-items: center;
    align-content: center;*/
    width: 100%;
    height: 6%;
    background-color: #243238;
}
#contain-buttonCategorie{
    width: 20%;
    height: 100%;
    background-color: #fff;
}
.buttonCategories{
    background-color: #9ABF1A;
    width: 300px;
    height: 50px;
    border:none;
    border-radius: 5px;
}
nav{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #FBE0C3;
}

li{
    display: inline;
}
ul {
    list-style: none;
    color: white;
}

#apr-menu{
    background-color: #9ABF1A;
    width: 30%;
    height: 80%;
}
footer{
    background-color: #243238;
    width: 100%;
    height: 40%;
}

/* Les ecrans */

/* ecran 1 */
.ecran1{
    background-color: #FBE0C3;
    background-size: 100%;
    background-image: url("../images/image_marbre.jpg");
    background-position:center center;
    background-repeat: repeat;
}

/* ecran 2 */
.ecran2{
    background-color: #FBE0C3;
}

/* ecran 3 */
.ecran3{
    background-color: #243238;
}

/* ecran 4 */
.ecran4{
    background-color: #FBE0C3;
}

/* ecran 5 */
.ecran5{
    background-color: #243238;
}

/* ecran 6 */
.ecran6{
    background-color: #FBE0C3;
}